#map {
  position: relative;
  border: thin solid gray;
}

#grid {
  position: absolute;
  top: 0;
  left: 0;
  width: 800px;
  height: 800px;
  border-radius: 4px;
  border: thin solid rgb(180,180,180);
  background-color: yellow;
}
